@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
@media (min-width:1300px){
    body{
        font-size:20px;
    }
}