$bg-dark: #dddddd;
$bg: #efefef;
$bg-light: #ffffff;
$high-el: 0px 1px 4px 0px rgb(125, 125, 125), inset 0px 1px 5px 0px white;
$low-el: inset 0px 0px 4px 2px rgb(124, 124, 124);
$button-shadow: 4px 3px 0px 0px rgba(66, 68, 90, 1);
$smallButton-shadow: 1px 1px 0px 0px rgb(28, 28, 35);